{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "process": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/no-unescaped-entities": ["error", {"forbid": [">", "}"]}],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0
  }
}